h1 {
  color: #1450d1;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.mode-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode-container button {
  margin: 0px 0.5em;
}
